<div class="home-top">
        <div class="home-container clear">
            <ul class="clear">
                <li><a href="">登录</a></li>
                <li><a class="register" href="">免费注册</a></li>
                <li class="lookus">
                    <span>关注我们</span>
                    <div class="twoCode"></div>
                    <span class="iconfont down">&#xe653;</span>
                </li>
                <li><a href="">帮助中心</a></li>
                <li class="collect">
                    <span class="iconfont love">&#xe600;</span>
                    <span>收藏</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="home-search">
        <div class="home-container clear">
            <div class="logo">
                <a href=""></a>
            </div>
            <div class="search clear">
                <input type="text" name="" value="" placeholder="搜索所有商品">
                <div class="btn"></div>
            </div>
            <div class="shop">
                <a href="#">
                    <span class="iconfont">&#xe603;</span>
                    <span>购物车</span>
                    <span class="iconfont icon">&#xe62c;</span>
                </a>
            </div>
            <div class="txt">您的购物车里没有商品</div>
            <div class="phone">
                <span class="iconfont">&#xe601;</span><span>订购热线</span>
                <br>
                <em>400-9993-513</em>
            </div>
            <div class="hotsearch">
                <span>热搜榜 :</span>
                <a href="#">大红袍</a>
                <a href="#">铁观音</a>
                <a href="#">金骏眉</a>
            </div>
        </div>
    </div>
    <div class="home-nav">
        <div class="home-container">
            <div class="slide">
                <div class="sort">
                    <span class="iconfont">&#xe613;</span><span>全部商品类目</span>
                </div>
                <div class="sort1">
                    <div class="title">
                        <span class="icon1"></span>
                        <a href="#">各地名优茶</a>
                        <span class="icon2">></span>
                    </div>
                    <div class="content">
                        <div class="content-tab clear">
                           <span class="key">热门</span> 
                           <div class="detail">
                               <a href="#">金骏眉</a>
                               <a href="#">大红袍</a>
                               <a href="#">铁观音</a>
                               <a href="#">正山小种</a>
                               <a href="#">黄山毛峰</a>
                               <a href="#">漳平水仙</a>
                           </div>
                        </div>
                        <div class="content-tab clear">
                            <span class="key">名茶</span> 
                           <div class="detail">
                               <a href="#">红茶</a>
                               <a href="#">绿茶</a>
                               <a href="#">乌龙茶</a>
                               <a href="#">白茶</a>
                               <a href="#">普洱</a>
                               <a href="#">花茶</a>
                           </div>
                        </div>
                    </div>
                    <!-- 菜单下的子菜单栏定位隐藏 -->
                    <div class="submenu">
                        <ul class="menu1">
                            <li>
                                <a href="#">红茶</a>
                                <a href="#">金骏眉</a>
                                <a href="#">正山小种</a>
                            </li>
                            <li>
                                <a href="#">乌龙茶</a>
                                <a href="#">铁观音</a>
                                <a href="#">大红袍</a>
                                <a href="#">漳平水仙</a>
                            </li>
                            <li>
                                <a href="#">绿茶</a>
                                <a href="#">黄山毛峰</a>
                                <a href="#">龙井</a>
                                <a href="#">碧螺春</a>
                            </li>
                            <li>
                                <a href="#">白茶</a>
                                <a href="#">白牡丹</a>
                                <a href="#">牡丹王</a>
                                <a href="#">白毫银针</a>
                            </li>
                            <li>
                                <a href="#">黑茶</a>
                                <a href="#">普洱</a>
                            </li>
                            <li>
                                <a href="#">花茶</a>
                                <a href="#">茉莉花茶</a>
                                <a href="#">花草茶</a>
                            </li>
                        </ul>
                        
                        <ul class="menu2">
                            <li>
                                <span>净含量</span>
                                <a href="#">1-50g</a>
                                <a href="#">1-50g</a>
                                <a href="#">1-50g</a>
                                <a href="#">1-50g</a>
                            </li>
                            <li>
                                <span>价格</span>
                                <a href="#">1-100元</a>
                                <a href="#">1-100元</a>
                                <a href="#">1-100元</a>
                            </li>
                            <li>
                                <span>品级</span>
                                <a href="#">登堂入室</a>
                                <a href="#">略有小成</a>
                                <a href="#">炉火纯青</a>
                                <a href="#">出神入化</a>
                                <a href="#">登峰造极</a>
                            </li>
                            <li>
                                <span>用途</span>
                                <a href="#">自饮</a>
                                <a href="#">送礼</a>
                            </li>
                        </ul>
                        <div class="menu3">
                            <a href="">
                                <img src="images/citiao.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sort2">
                    <div class="title">
                        <span class="icon1 icon1-sort2"></span>
                        <a href="#">热销茶具</a>
                        <span class="icon2">></span>
                    </div>
                    <div class="content">
                        <div class="content-tab clear">
                           <span class="key">推荐</span> 
                           <div class="detail">
                               <a href="#">紫砂壶</a>
                               <a href="#">紫砂陶装</a>
                               <a href="#">功夫茶具</a>
                           </div>
                        </div>
                    </div>
                    <!-- 菜单下的子菜单栏定位隐藏 -->
                    <div class="submenu">
                        <ul class="menu2">
                            <li>
                                <span>茶具</span>
                                <a href="#">紫砂</a>
                                <a href="#">紫砂</a>
                                <a href="#">紫砂</a>
                                <a href="#">紫砂</a>
                            </li>
                            <li>
                                <span>品牌</span>
                                <a href="#">产地直销</a>
                                <a href="#">产地直销</a>
                                <a href="#">产地直销</a>
                            </li>
                            <li>
                                <span>材质</span>
                                <a href="#">白瓷</a>
                                <a href="#">白瓷</a>
                                <a href="#">白瓷</a>
                                <a href="#">白瓷</a>
                                <a href="#">白瓷</a>
                            </li>
                            <li>
                                <span>容量</span>
                                <a href="#">0-200ml</a>
                                <a href="#">0-200ml</a>
                            </li>
                            <li>
                                <span>价格</span>
                                <a href="#">1-100元</a>
                                <a href="#">1-100元</a>
                            </li>
                        </ul>
                        <div class="menu3">
                            <a href="">
                                <img src="images/citiao.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sort3">
                    <div class="title">
                        <span class="icon1 icon1-sort3"></span>
                        <a href="#">佛珠手串</a>
                        <span class="icon2">></span>
                    </div>
                    <div class="content">
                        <div class="content-tab clear">
                           <span class="key">推荐</span> 
                           <div class="detail">
                               <a href="#">小叶紫檀</a>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav clear">
                <a href="#">首页</a>
                <a href="#">金骏眉</a>
                <a href="#">大红袍</a>
                <a href="#">铁观音</a>
                <a href="#">茶具</a>
                <a href="#">茶师亲制</a>
                <a href="#">茶币商城</a>
                <a href="#">
                    <img src="images/ctbl.gif" alt="">
                    <img class="hoticon" src="images/hot.gif" alt="">
                </a>
            </div>
        </div>
    </div>