<div class="news-box1">
    <div class="title clear">
        <a href="#">茶资讯</a>
        <a href="#">更多>></a>
    </div>
    <ul>
        ##for(var i = 0; i < data.teaNews.length; i++){## 
            <li>
            <a href="#">
                <span>{{i+1}}</span>
                {{data.teaNews[i]}}
            </a>
            <div class="detail">
            	<img src="{{data.newsBox1Src[i]}}" alt="">
            	<div class="txt">
            		<p>{{data.newsBox1Detail[i]}}</p>
            	</div>
            </div>
            </li>
        ##}##
    </ul>
</div>
<div class="news-box2">
  <div class="title clear">
  	<span>热评排行</span>
  	<div class="indicator">
  		<span class="bgc"></span>
  		<span></span>
  		<span></span>
  	</div>
  </div>
  <div class="content">
  	<div class="box clear">
  	##for(var k = 0 ; k < data.newsBox2Src.length; k++){##
  		<div class="cell">
  			<a href="#"><img src="{{data.newsBox2Src[k]}}" alt=""></a>
  			<div class="txt">
  				<p class="name">{{data.newsBox2Charge[k]}}</p>
  			    <div class="charge">
  			    	<span class="score">评分 :</span>
  	##for(var p = 0; p < data.newsBox2ChargeNum[k];
  	p++){##
  			    	<span class="star"></span>
                    ##}##
  			    </div>
  				<p class="charge-txt">{{data.newsBox2ChargeTxt[k]}}</p>
  			</div>
  		</div>
  		##}##
  	</div>
  	<div class="left">
  		<div class="left-box">
  	      <span class="iconfont">&#xe605;</span>
  	      <span class="iconfont">&#xe605;</span>
  	    </div>
  	</div>
  	<div class="right">
  		<div class="right-box">
  		  <span class="iconfont">&#xe61e;</span>
  		  <span class="iconfont">&#xe61e;</span>
       </div>
  	</div>
    
  </div>
</div>
<div class="news-box3">
</div>
